:root {
    font-size: 16px;
    --clr-dark001: #1a1b1c;
    --clr-light001: #fafcfe;
    --clr-red001: #ff5757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--clr-light001);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    max-width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    z-index: 50;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: var(--clr-dark001);
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hamburger:focus,
.home__cta:active {
    outline: 1px dashed var(--clr-red001);
}

.hamburger::after,
.hamburger::before {
    content: '';
    height: 25px;
    width: 2px;
    border-radius: 10px;
    background-color: var(--clr-light001);
    border-left: 1px solid var(--clr-light001);
    transform: rotate(90deg);
    margin: -7px;
    transition: transform 0.3s ease;
}

.hamburger--active::after {
    transform: rotate(45deg);
    margin: -10px;
    background-color: var(--clr-red001);
}

.hamburger--active::before {
    transform: rotate(-45deg);
    margin: -17px;
    background-color: var(--clr-red001);
}

.main-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: var(--clr-dark001);
    transform: translateX(-100%);
    transition: transform 0.65s ease;
    z-index: 500;
}

.main-nav--active {
    transform: translateX(0);
}

.main-nav a {
    font-size: 1.8rem;
    color: var(--clr-light001);
    margin-bottom: .6em;
    padding: .3em;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

.main-nav a:hover {
    border-bottom: 1px solid var(--clr-light001);
}

.main-nav a:focus,
.main-nav a:active {
    outline: 1px solid var(--clr-red001);
}

.home {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home__info {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.home__header {
    max-width: 356px;
    margin: 82px 0 16px 0;
}

.home__title {
    font-size: 3.125rem;
    color: var(--clr-dark001);
    line-height: 1.03;
    margin-bottom: 56px;
}

.home__spacer {
    display: inline-block;
    width: 102px;
    height: 1px;
    background-color: var(--clr-dark001);
    margin-bottom: 48px;
}

.home__subtext {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--clr-dark001);
    line-height: 1.65;
    margin-bottom: 48px;
}

.home__cta {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625rem;
    color: var(--clr-light001);
    background-color: var(--clr-dark001);
    border-radius: 50px;
    border: 2px solid var(--clr-dark001);
    padding: 16px 48px;
    transition-property: background-color, color;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.home__cta:hover {
    background-color: var(--clr-light001);
    color: var(--clr-dark001);
}

.home__cta:focus,
.home__cta:active {
    background-color: var(--clr-light001);
    color: var(--clr-dark001);
    outline: 5px solid var(--clr-red001);
}

.home__cards {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group-one {
    grid-column: 1/span 1;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.group-one .home__card--square {
    background-image: linear-gradient(180deg, rgba(26, 27, 28, 0) 50%, rgba(26, 27, 28, 0.2) 74.85%, rgba(26, 27, 28, 0.4) 100%), url(./images/marques-brownlee.jpg);
}

.group-one .home__card--large {
    background-image: linear-gradient(180deg, rgba(26, 27, 28, 0) 50%, rgba(26, 27, 28, 0.2) 74.85%, rgba(26, 27, 28, 0.4) 100%), url(./images/tech-me-out.jpg);
}

.group-two {
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
}

.group-two .home__card--square {
    background-image: linear-gradient(180deg, rgba(26, 27, 28, 0) 50%, rgba(26, 27, 28, 0.2) 74.85%, rgba(26, 27, 28, 0.4) 100%), url(./images/peter-mckinnon.jpg);
}

.group-two .home__card--large {
    background-image: linear-gradient(180deg, rgba(26, 27, 28, 0) 50%, rgba(26, 27, 28, 0.2) 74.85%, rgba(26, 27, 28, 0.4) 100%), url(./images/ijustine.jpg);
}

.home__card {
    margin: 8px;
    padding: 16px;
    display: flex;
    align-items: flex-end;
    background-color: var(--clr-dark001);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__card header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.home__card header h3 a {
    font-size: 0.9rem;
    color: var(--clr-light001);
    text-decoration: none;
}

.home__card--square {
    height: 0;
    padding-top: calc(100% - 32px);
}

.home__card--large {
    flex: auto;
}

@media screen and (max-width: 750px) {
    .main-nav {
        width: 90%;
    }
    .home__info,
    .home__cards {
        grid-column: 1/ span 2;
    }
    .hamburger {
        top: 0;
        left: 0;
    }
    .home__info {
        grid-column: 1/3;
        display: initial;
        padding: 0;
    }
    .home__card--large {
        height: 0;
        padding-top: calc(100% - 32px);
    }
}

@media screen and (max-width: 600px) {
    .home {
        display: initial;
    }
    .group-one,
    .group-two {
        grid-column: 1/ span 2;
    }
}